html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Abel', sans-serif;
}
.slide-container {
  height: 100%;
}
.quote-container {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 80px 10px 10px 10px;
}
.quoteAuthor {
  float: right;
  margin: 20px 20px 0 0;
  font-size: .9em;
  font-style: italic;
}
.quotesDisplay {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.5em
}
.hide-display {
  opacity: 0;
  transition: opacity 400ms linear;
}
.fade-in-display {
  opacity: 1;
}
.twitter-button {
  font-size: 4em;
  color: #fff;
}
#twitterLink {
  position: absolute;
  top: 5px;
  left: 5px;
  -ms-transform: rotate(63deg); /* IE 9 */
  -webkit-transform: rotate(63deg); /* Chrome, Safari, Opera */
  transform: rotate(63deg);
}
.twitter-button:hover {
  transition: color 200ms linear;
  color: #808080;
}
.center {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.quoteBtn {
  border-color: #fff;
  background: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  transition: all 200ms linear;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}
.quoteBtn:after {
  content: "By: Anthony DeVenuto";
  position: absolute;
  top: 83px;
  left: 50%;
  transform:translate(-50%);
  font-size: .5em;
  width: 200px;
}
.quoteBtn:focus {
  outline: none;
}
.fa-paint-brush {
  margin-top: 15px;
}
.fa-chevron-right {
  color: #fff;
  margin-left: 10px;
}
.fa-quote-left {
  font-size: .7em;
  position: relative;
  top: -10px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media (min-width: 900px) {
  .quote-container {
    width: 45%;
  }
}
@media (min-width: 767px) {
  .swipeIndicator {
    display: none;
  }
}
